.container{
    background-color: rgb(16, 203, 75);
    color: brown;
    border:5px solid rgb(21, 1, 17);
    border-radius: 10px;
    padding: 5%;
    margin: 70px;
     
}
#ht{
    color: beige;
}
#loreum{
    color: rgb(100, 99, 15);
}
#css{
    color:antiquewhite;
}
body{
    background-color: rgb(116, 126, 126);
}
